version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: plotpick_user
      POSTGRES_PASSWORD: my_secure_password_123
      POSTGRES_DB: plotpick_dev_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: